$gold-dark: #b58d48;
$gold-light: #e8c17f;
$blue-highlight: #67bccb;
$text-light: #fff;
$background-marrom: #725542;

.container {
  background: $background-marrom;
  background-image: url("/Captura\ de\ tela\ 2025-10-03\ 191935.png");
  background-size: cover;
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  color: $text-light;
  font-family: "PowerGrotesk";
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      transparent 100%
    );
    z-index: 0;
  }
}

.containerText {
  position: absolute;
  bottom: 260px;
  right: 20px;
  text-align: right;
  color: #606060;
  font-family: "PowerGrotesk", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.5%;
  text-transform: uppercase;
  width: 50%;
  z-index: 2;
}

.titleBanner {
  padding-top: 40vh;
  padding-inline: 20px;
  position: relative;
  text-align: left;
  z-index: 2;

  .orcamento {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background: linear-gradient(
      91deg,
      $gold-dark -20%,
      $gold-light 50%,
      $gold-dark 120%
    );
    padding-block: 6px;
    padding-inline: 10px;
    border: none;
    color: #333;
    text-align: center;
    font-family: "PowerGrotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }

  h1 {
    color: $text-light;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 30px;
    position: relative;
    display: block;
    text-align: left;
    max-width: 90%;

    .destaque {
      color: $blue-highlight;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px; // distância entre texto e linha
        width: 100%;
        height: 4px;
        background-color: $blue-highlight;
        border-radius: 2px;
      }
    }

    .nowrap {
      white-space: normal;
    }
  }

  p {
    color: $text-light;
    font-family: "PowerGrotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 45px;
  }
}

.gridBackground {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("/grid.svg") no-repeat;
  background: url("/grid.svg") no-repeat;
  background-size: cover;
  background-position: top;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.button {
  border: 1px solid #fff;
  background: linear-gradient(
    91deg,
    $gold-dark -20%,
    $gold-light 50%,
    $gold-dark 120%
  );
  background-size: 300% 300%;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: "PowerGrotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.04px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: gradientCircle 4s linear infinite;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes gradientCircle {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
