@font-face {
    font-family: 'Galderglynn Titling Bd';
    src: url('/fonts/galderglynn titling bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Galderglynn Titling Rg';
    src: url('/fonts/galderglynn titling rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    background: #030303;
}
